notebook/03-udacityIntroductionToMachineLearning/projects/enron_mail_20150507.tar.gz
notebook/04-tsne/GoogleNews-vectors-negative300.bin.gz
notebook/02-courseraMachineLearning/*.zip
developing/
/notebook/02-courseraMachineLearning
